// Font //
body {
    font-family: 'Rubik', sans-serif;
}
// Font //

// SECTION 2 //
#title_section2, #title_section3 {
    padding: 5rem 0 5rem 0;
}
#title_section4 {
    padding: 5rem 0 1rem 0;
}
.i_section2 {
    font-size: 200%;
    color: $section2-color;
    padding: 2rem;
}
#card_section2, #card_section3 {
    box-shadow: 0px 9px 45px -4px rgba(0,0,0,0.52);
    margin-bottom: 5rem;
}
.fa-dot-circle {
    color: $saumon-color;
}
#btn_section {
    background-color: $saumon-color;
    border: $saumon-color;
}
// SECTION 2 //

// SECTION 3 
#section3 {
    background-image: linear-gradient(91deg,#f571b3 , #e766a6, #f078a1 , #ed7793 , #f68a8e)
}
#title_section3 {
    color: white;
}
.like_dislike{
    color: $saumon-color;
}
.btn{
    padding: 1.2rem 5rem;
}
.img-section3 {
    max-height: 10rem;
}
#btn_section3 {
    color: white;
    border: solid 1px white;
}
// SECTION 3

// SECTION 4 //
.section4 {
    background-color: $section4-color;
    .card {
        background-color: $section4-color;
    }
}
.card-color-section4 {
    color: $saumon-color;
}
// SECTION 4 //

// FOOTER //
.card-color-footer {
    color: $saumon-color;
}


